[submodule "public"]
	path = public
	url = git@github.com:eyeAeye/eyeAeye.github.io.git
	branch = gh-pages
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/stack"]
	path = themes/stack
	url = git@github.com:eyeAeye/hugo-theme-stack.git
